*{
  margin: 0;
  padding:0;
}

body{
    color: white;
    font-family: "hylia-serif-beta-regular", sans-serif;
}

/* Font Styling - This is currently not working */
@font-face {
  font-family: "hylia-serif-beta-regular";
  src: url("../fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

.hide {
  display: none;
}

.hylia-font {
  padding-inline: 5px;
}

.background {
  position: fixed;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  background-image: url("https://gadhagod.github.io/hyrule-compendium-demo/images/texture.jpeg") ;
  z-index: -1;
}

/* Compendium Header */

#nav-container{
  background-color: black;
  border: solid rgba(26, 112, 185, 0.85);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  padding-top: 0rem;
  width: 100%;
  top: 0.0rem;
  z-index: 10;
}

.compendium-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5rem;
  width: 100%;
  padding: 1.5rem;
  position: relative;
}

.compendium-header > div{
width: 33.33%;
}

.searchFunction{
  margin: 0;
}

/* Nav Bar */
.nav-icon-container{
display: flex;  
justify-content: center;
}

.nav-icon {
  margin: 0.5rem;
  transition: transform 0.5s ease;
}

.nav-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.nav-icon.selected {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(26, 112, 185, 0.85);
}

#navigation-icons {
  padding-top: 1rem;
  height: 5.125rem;
  width: 100%;
  top: 0.9rem;
}

.nav-icon-wrapper > img {
  width: 3.938rem;
  height: 3.25rem;
}

.in-line-block {
  display: inline-block;
}

.searchFunction{
  display: flex;  
  justify-content: flex-end;
}


/* Icons and Tiles */
#entries-container{
  margin-top: 145px;
  margin-inline: auto;
  padding-inline: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  max-width: 1770px;
}

.compendium-result {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.657);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
}

.compendium-result::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0rem 0rem 4rem rgba(26, 112, 185, 0.85);
  transform: scale(0.1);
  opacity: 0;
  transition: opacity 0.6s, transform 0.8s;
  z-index: -1;
}

.compendium-result:hover::before {
  opacity: 1;
  transform: scale(1);
}

.compendium-img{
  max-width: 250px;
}

.result-divider {
  margin-bottom: 0.5rem;
}

.single-compendium-result{
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.657);
  box-shadow: 0rem 0rem 4rem rgba(26, 112, 185, 0.85);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-radius: 0.3rem;
}

.single-result-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5rem;
  font-size: larger;
}

.single-compendium-img{
  max-width: 300px;
}